<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tripforo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>

    <header>
        <nav class="navbar">
            <div class="top">
                <a routerLink=""><img src="assets/logo1.png" class="img1"></a>

                <div class="upp">
                    <ul>
                        <li style="color:green">Balance: 470386RS</li>
                        <li style="color:green">Credit Limit: 50Rs</li>
                        <li style="color:green">Due: 0Rs</li>
                        <li style="color:red"><a href="" style="color:red">Log Out </a></li>
                    </ul>
                </div>
            </div>
            <ul>
                <!-- <li><i class="fa-solid fa-house-user"></i></li> -->
                <li><a routerLink="/mybooking">My Booking</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <li><a routerLink="/onlinetopup">Online Top-Up</a></li>
                <li><a routerLink="/topup">Top-Up</a></li>
                <li><a routerLink="/groupbooking">Group Booking</a></li>
                <li><a routerLink="/welcome">Welcome: FlyHigh</a></li>
            </ul>
        </nav>
    </header>

</body>

</html>

