<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <div class="container1">
        <h3>Latest Offer!</h3>
        <br /><br />
        <div id="text1"><i class="fa-solid fa-location-pin"></i>Available Sector</div><br />
            <button>CCU-MMA</button>
            <button>CCU-GUA</button>
            <button>DEL-BLR</button>
            <button>CCU-HYD</button>
            <button>CCU-BLR</button>
            <button>BLR-CCU</button>
             <button>DEL-CCU</button>
            <button>HYD-BLR</button> 
            <br /> <br />
        <div id="text2"><i class="fa-solid fa-plane-up"></i>Airlines Available for Selected Sector</div><br />
            <button>8:25  11:00</button>
            <button>4:45  7:10</button>
        <br /><br />
        <input type="text" id="text3" placeholder="Available Date,Fare and Seats for Selected Airlines" onfocus="(this.type='date')" />
    </div>
</body>
</html>